@if (mostrarSpinner){
<app-shared-spinner [mensaje]="mensaje" />
} @else {
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center text-success">Listado de Shorts</h3>
    </div>
    <p class="text-center">Total de registros: {{ shortsList.length }}</p>
  </div>
  <div class="row">
    @for (short of shortsList; track short.id) {
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card">
        <app-short-card [short]="short" />
      </div>
    </div>
    }
  </div>
</div>
}
